@charset 'UTF-8';

@font-face {
    font-family: 'Odd-Modern';
    src:url('Odd-Modern.ttf.woff') format('woff'),
        url('Odd-Modern.ttf.svg#Odd-Modern') format('svg'),
        url('Odd-Modern.ttf.eot'),
        url('Odd-Modern.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

:root {
  --cor0: #FFF000;
  --cor1: #fff880;
  --cor2: #0000FF;
  --cor3: #8080ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: var(--cor0);
    color: var(--cor2);
    display: flex;
    align-items: center;
    height: 80px;
}

.header h2 {
    font-size: 2em;
}

.nav, .nav a {
    background-color: var(--cor0);
    color: var(--cor2);
    height: 25px;
}

.nav ul,a {
    text-decoration: none;
    list-style: none;

}

.nav ul{
    display: flex;
    justify-content: end;
}

.nav ul li a{
    font-size: 1.2em;
    padding: 8px;
    border-radius: 50px;
    transition: .5s;
}

.nav ul li a:hover {
    background-color: var(--cor3);
    color: white;
    text-decoration: underline;
}
main {
    background-color: var(--cor3);
}
.cabecalho {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div#img-0 {
    background-image: url(/img/Copa_do_mundo_Catar_Reproducao-Fifa.jpg);
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

.noticia {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.noticia p {
    font-size: 1.3em;
}

div.imagem {
    background-color: black;
    height: 380px;
    width: 990px;
    box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.685);
   
}

section div#img-1 {
    background-image: url(/img/uruguai-primeira-copa.jpg);
    background-size: cover;
    background-attachment: fixed;
}

section div#img-2 { 
    background-image: url(/img/Eurico-Gaspar-Dutra.jpg.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section div#img-3 {
    background-image: url(/img/3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

section div#img-4 {
    background-image: url(/img/4.jpg);
    background-size: cover;
    background-attachment: fixed;

}

section div#img-5 {
    background-image: url(/img/cafu001.113701.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section.top{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

section.top h2{
    font-size: 2em;
    padding: 10px;
}

section.top p {
    font-size: 1.3em;
    padding: 10px;
}

@media (min-width: 280px) and (max-width: 800px){
    .header {
        background-color: var(--cor0);
        color: var(--cor2);
        display: flex;
        justify-content: center;
        height: 80px;
    }

    .nav ul{
        display: flex;
        justify-content: center;
    }
    
    main {
        background-color: var(--cor3);
        min-width: 280;
        max-width: 1024px;
        padding: 30px;
        margin: auto;
        margin-bottom: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    
    }

    
    .cabecalho {
        margin-top: 10px;
        display: flex;
    }
    
    .cabecalho h1 {
        font-size: 2em;
    }

    .cabecalho img {
        min-height: 45%;
        min-width: 40%;
    }
    section.noticia {
        display: flex;
        flex-direction: column;
        align-items: center;
       }
    
    section.noticia p{
        text-align: center;
        font-size: 1.3em;
        margin: 10px;
    }
    section.noticia img {
        height: 30%;
        width: 40%;
        justify-content: center;
    }
    
        img.cm {
        height: 45%;
        width: 45%;
        border-radius: 50%;
    }
        
    section.top {
        margin: 10px;
        padding: 10px;
    }
    
    section.top h2 {
        font-size: 1.5em;
        font-weight: bold;
        padding: 10px;
    }
    
    section.top p {
        font-size: 1.3em;
        }
    div.imagem {
        background-color: black;
        height: 300px;
        width: 510px;
        box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.685);
           
    }
}
@media (min-width: 200px) and (max-width: 300px){
    
    .header {
        background-color: var(--cor0);
        color: var(--cor2);
        display: flex;
        justify-content: center;
       
    }
    
    .header h2 {
        font-size: .9em;
    }
    
    .nav {
        min-width: 200px;
        max-width: 300px;
    }
    
    .nav ul{
        display: flex;
        justify-content: center;
    }
    
    .nav ul li a {
        font-size: .3em;
        padding: 2px;
    }
    
    main {
        background-color: var(--cor3);
        min-width: 200px;
        max-width: 300px;
        padding: 20px;
        margin: auto;
        margin-bottom: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    
    }

    .cabecalho {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
    }
    
    .cabecalho h1 {
        font-size: 1em;
        text-align: center;
    }

    .cabecalho img {
        margin-top: 4px;
        min-height: 15%;
        min-width: 10%;
    }
    section.noticia {
        display: flex;
        flex-direction: column;
        align-items: center;
       }
    
    section.noticia p{
        text-align: center;
        font-size: .7em;
        margin: 10px;
    }
    section.noticia img {
            height: 30%;
            width: 40%;
            justify-content: center;
    }
    
    img.cm {
        height: 45%;
        width: 45%;
        border-radius: 50%;
    }
        
    section.top {
        margin: 4px;
        padding: 4px;
    }
    
    section.top h2 {
        font-size: 1em;
        font-weight: bold;
        padding: 5px;
    }
    
    section.top p {
        font-size: .7em;
    }
    div.imagem {
        background-color: black;
        height: 280px;
        width: 300px;
        box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.685);
       
    }
        
}